@import "tailwindcss";

:root {
  --attack-animation-duration: 350ms;
  --attack-animation-delay: 0ms;
  --damage-animation-delay: 180ms;

  --title-color-1: #d81a1a;
  --title-color-2: #974141;
  --title-color-3: #e67545;
}

.game-title-mask {
  width: 100%;
  height: 200px;
  
  /* Apply the PNG as a mask */
  -webkit-mask-image: url('/title.png');
  mask-image: url('/title.png');
  -webkit-mask-size: contain;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  /* CONFIGURE COLOR HERE */
  background: linear-gradient(
    to bottom, 
    var(--title-color-1), 
    var(--title-color-2),
    var(--title-color-3), 
    var(--title-color-1), 
    var(--title-color-2),
    var(--title-color-3), 
    var(--title-color-1)
  );
  
  background-repeat: repeat-y;
  background-size: 100% 400px;
}

@keyframes color-roll {
  from { background-position: 0 0; }
  to { background-position: 0 -200px; }
}

.game-title-mask.moving {
  animation: color-roll  5s linear infinite;
}

@keyframes flash-yellow {
  0% { background-color: rgba(250, 204, 21, 0.6); } 
  100% { background-color: rgba(250, 204, 21, 0); } /* Explicitly fade to 0 opacity yellow */
}

.animate-flash {
  /* 'forwards' prevents the snap-back */
  animation: flash-yellow 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes glow-pulse {
  0% { filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6)); }
  50% { filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.9)); }
  100% { filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6)); }
}

.animate-glow-pulse {
  animation: glow-pulse 2s infinite ease-in-out;
}

@keyframes rapid-pulse {
  0% { background-color: rgb(30 41 59); } /* slate-800 */
  50% { background-color: rgb(232, 76, 76); } /* red-600 */
  100% { background-color: rgb(30 41 59); }
}

.animate-damage {
  animation: rapid-pulse 0.25s infinite;
  animation-delay: var(--damage-animation-delay);
}

@keyframes dynamic-bump {
  0%, 100% { 
    transform: translate(0, 0); 
  }
  50% { 
    /* Multiply the Cosine (X-axis) by the flip factor */
    transform: translate(
      calc(cos(var(--bump-angle)) * 15px * var(--flip-factor, 1)), 
      calc(sin(var(--bump-angle)) * -15px) 
    );
  }
}

.animate-bump {
  animation: dynamic-bump var(--attack-animation-duration) ease-in-out;
  animation-delay: var(--attack-animation-delay);
  animation-fill-mode: backwards;
}

.pulse-darken {
  animation: darken-pulse 6s ease-in-out infinite;
}

@keyframes darken-pulse {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(60deg);
  }
}